.farewell-photo {
    max-width: 1184px;
    margin: 92px auto 92px auto;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 32px;
    z-index: 1;


}

.farewell-photo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: .7s ease;
    z-index: -1;

}

.farewell-photo:hover {
    opacity: 0.8;

}

@media screen and (max-width: 1024px) {
    .farewell-photo {
        max-width: 1024px;
    }

}

@media screen and (max-width: 768px) {

    .farewell-photo {
        max-width: 768px;
    }
}

@media screen and (max-width: 642px) {

    .farewell-photo {
        max-width: 650px;
    }
}