.page {
    background-color: #2A2C2F;
    min-width: 320px;
    color: #FFFFFF;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 28px;
    max-width: 1184px;
    min-width: 320px;
}

.header__logo {}

.header__links {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.header__links_type_activated {
    padding-right: 18px;
    text-decoration: underline;
}

.travel-map {
    margin: 0 auto;
    max-width: 984px;
    min-width: 320px;
    position: relative;
}

.travel-map__title {
    margin: 136px auto 32px auto;
    max-width: 720px;
    min-width: 288px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media screen and (max-width: 728px){
    .travel-map__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    }
}

.travel-map__subtitle {
    max-width: 640px;
    min-width: 288px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.travel-map__lead-polka {
    max-width: 100%;
}

.travel-map__lead-polka-text {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 8px;
}

.info {
    margin: 0 auto;
    max-width: 984px;
    min-width: 288px;
    position: relative;
}

.info__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 92px 0 40px 0;
}

.info__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.info__stats {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 33px;
}

.info__stats_style_bold {
    font-weight: 700;

}

.photo-gallery {
    margin: 92px auto 0 auto;
    max-width: 1184px;
    min-width: 288px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-gallery__grid {
    max-width: 100%;
}

.locations {
    max-width: 984px;
    min-width: 288px;
    margin: 0 auto;

}

.location {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr max-content;
    gap: 48px 40px;
    margin: 0;
    margin-top: 92px;
}

.location__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

.location__link {
    align-self: end;
}

.location__link__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.location__link_style_underline {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.location__img {
    width: 460px;
}

.location__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;

}

.location__text__el {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
}

.farewell-photo {
    max-width: 1184px;
    margin: 92px auto 92px auto;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 32px;


}

.farewell-photo__title {
    margin: 0;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    align-self: end;

}

.farewell-photo__subtitle {
    margin: 0;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    justify-self: center;


}

.farewell-photo__background {

    background-image: url(../photo/cover-trains.jpg);
    background-position: center;

    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1;
    grid-row: 1/3;

}

.farewell-photo__size {
    display: block;
    min-height: 740px;
    grid-row: 1/3;
    grid-column: 1;
}

.footer {
    max-width: 1184px;
    min-width: 320px;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    text-decoration-line: none;
    padding-right: 18px;
}

.footer__author {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;

}